{
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "css": "./assets/css",
        "core": "./core",
        "components": "./components",
        "stores": "./stores"
      },
      "cwd": "babelrc"
    }],
    ["wrap-in-js", {
      "extensions": ["css$", "scss$"]
    }],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "lib",
      "style": false
    }],
    "transform-decorators-legacy"
  ],
  "presets": ["env", "stage-0", 
    ["next/babel", {
      "styled-jsx": {
        "plugins": [
          "styled-jsx-plugin-sass"
        ]
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"]
    }
  }
}
